.detail-form{
    width: 100%;
    padding: 5px;
}

.detail-form .row{
    float: left;
}

.detail-form .row .inputs{
    width: 240px;
    height: 30px;
    padding: 0 0 0 10px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    border: 1px solid #ddd;
    outline: none;
}

.detail-form .row .label{
    font-weight: 100;
    padding-top: 5px;
    height: 30px;
}

.detail-form .row .display{
    font-weight: 400;
    padding: 0 5px;
    background: red;
    color: #fff;
    line-height: 20px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
}

.detail-form .row .delete-btn{
    float: left;
    font-weight: 500;
    margin: 18px 30px 0 0;
    color: #c62828;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 10px;
}

.detail-form .row .save-btn{
    float: left;
    width: 92px;
    font-weight: 500;
    color: #fff;
    background: #c62828;
    border: 1px solid #c62828;
    padding: 10px 20px;
    margin: 20px 0 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
}

.detail-form .row .save-btn:hover{
    color: #c62828;
    background: #fff;
}

.clearfix{
    clear: both;
    height: 0;
}

.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input {
    width: 240px;
    height: 30px;
    padding: 0 0 0 10px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    border: 1px solid #ddd;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 33px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 10px;
    max-height: 100px;
    overflow-y: auto;
    z-index: 2;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 5px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #eee;
}

.light-hide{
    visibility: hidden;
}