/* General styles */
.clearfix{clear: both; height: 0;}
.hide{display:none;}
.show{display: block !important;}

/* Styles for Sidebar */
.sidebar{
    display:none;
    position: absolute;
    width: 57%;
    padding: 5px;
    height: 100%;
    opacity: .7;
    z-index: 1;
    left: 0;
    top: 0;
    float: left;
    color: #555;
    font-family: Helvetica;
    font-size: 0.77em;
    letter-spacing: 0.01em;
    text-align: left;
    line-height: 2.95em;
    list-style: none;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: translateX(0px);
    transition-property: -webkit-transform,transform,opacity;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.0,0.0,0.2,1);
}

.sidebar .logo-container{
    padding: 0.64em 0 0.32em 0;
}

.logo{
    padding: .28em .48em;
    width: 6.84em;
}

.sidebar .sidebar-list{
    float: left;
    list-style: none;
    margin:0;
}

.sidebar .sidebar-list .sidebar-item{
    float: left;
    width: 100%;
    padding: 0.32em 0 0.32em 0;
}

.sidebar .sidebar-list .sidebar-item:hover{
    background: #233456;
    cursor: pointer;
}

.sidebar .sidebar-list .sidebar-item img{
    float: left;
    padding:  0.77em 1.28em;
}

.sidebar .sidebar-list .sidebar-item div{
    float: left;
}

.sidebar .search{
    width: 99%;
    height: 2.2em;
    padding: 0.30em;
    font-size: 0.96em;
    border-style: none;
    outline: none;
    background: #EBECEE;
    letter-spacing: .08em;
    color: #555;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .sidebar{
        display: block;
        position: absolute;
        width: 25%;
        padding: 5px;
        z-index: 1;
        float: left;
        color: #555;
        font-family: Helvetica;
        font-size: 0.77em;
        letter-spacing: 0.01em;
        text-align: left;
        line-height: 2.95em;
        list-style: none;
        background: #fff;
        height: 62.0em;
        opacity: 1;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        transform: translateX(0px);
        transition-property: -webkit-transform,transform,opacity;
        transition-duration: 0.2s;
        transition-timing-function: cubic-bezier(0.0,0.0,0.2,1);
    }
}

/* xtra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .sidebar{
        display: block;
        position: absolute;
        width: 25%;
        padding: 5px;
        z-index: 1;
        float: left;
        color: #555;
        font-family: Helvetica;
        font-size: 0.77em;
        letter-spacing: 0.01em;
        text-align: left;
        line-height: 2.95em;
        list-style: none;
        background: #fff;
        height: 98.0em;
        opacity: 1;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        transform: translateX(0px);
        transition-property: -webkit-transform,transform,opacity;
        transition-duration: 0.2s;
        transition-timing-function: cubic-bezier(0.0,0.0,0.2,1);
    }
}