.map-container{
    width: 100%;
    height: 100%;
}

@media (min-width: 992px) {
    .map-container{
        width: 1200px;
        height: 900px;
    }    
}

@media (min-width: 1200px) {
    .map-container{
        width: 1920px;
        height: 1200px;
    }
}